.nav-tabs{
background: #030708;
padding: 6px 0 6px 40px;
}
.nav-tabs a{
color:#5f9a9a;
text-decoration: none;
font-size: 14px;
font-family: "cursive","Myriad Pro";
}
.nav-tabs a:hover{
color: beige; 
}


