{% extends "layout.html" %}
{% block body %}
<style type="text/css">
	body{
		color: white;
	}
	.card-me{
	margin:90px 20px 20px 20px;
	float:left;
	border: 1px solid white;
}
</style>

<div class="container">
{% for row in info%}
<div class="card-me">

  <img src="static/{{row['image_path']}}" class="card-img-top" alt="..." width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">{{row['name']}}</h5>
    <hr>
  	<p class = "card-text">Blood Group:{{row['blood_group']}}</p>
  	<hr>
  	<p class = "card-text">Age: {{row['age']}}</p>
  	<hr>
  	<p class = "card-text">Sex:{{row['sex']}}</p>
  	<hr>
  	<p class = "card-text">Phone Number:{{row['ph']}}</p>
  	<hr>
  	<p class = "card-text">Address:{{row['address']}}</p>
  
  </div>
</div>
{%endfor%}
</div>

{% endblock %}